<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/apple-touch-icon.png?v=8j6PKzW9Mk" | prepend: site.baseurl }}"/>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon-32x32.png?v=8j6PKzW9Mk" | prepend: site.baseurl }}"/>
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon-16x16.png?v=8j6PKzW9Mk" | prepend: site.baseurl }}"/>
  <link rel="manifest" href="{{ "/assets/site.webmanifest?v=8j6PKzW9Mk" | prepend: site.baseurl }}"/>
  <link rel="mask-icon" href="{{ "/assets/safari-pinned-tab.svg?v=8j6PKzW9Mk" | prepend: site.baseurl }}" color="#5bbad5"/>
  <link rel="shortcut icon" href="{{ "/assets/favicon.ico?v=8j6PKzW9Mk" | prepend: site.baseurl }}"/>
  <meta name="msapplication-TileColor" content="#ffffff"/>
  <meta name="msapplication-config" content="{{ "/assets/browserconfig.xml?v=8j6PKzW9Mk" | prepend: site.baseurl }}"/>
  <meta name="theme-color" content="#ffffff"/>

  {% feed_meta %}

  <meta http-equiv="Content-Language" content="{{site.active_lang}}" />
{% for lang in site.languages %}
{% if lang == site.default_lang or lang == '_' %}
  {% continue %}
{% endif %}
  {% if site.baseurl == '' %}
  <link rel="alternate" hreflang="{{lang}}" href="/{{ lang }}{{ page.permalink }}" />
  {% endif %}
{% endfor %}
</head>
